

.container{
    display: flex;
    flex-direction: column;
}

.tittle{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.text{
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: rgb(12, 130, 170);
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px;
    
    &:hover{
        cursor: pointer;
    }
}