$radius:10px;

*{
    font-family: "Ubuntu";
}

.content {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: $radius;
    background: white;
    background-clip: padding-box;
    padding: 0;
    max-width: 300px;

}

.content:before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
}


.contentdead:before{
    background: linear-gradient(to right, rgb(14, 132, 168), rgb(209, 11, 11));
}
.contentalive:before{
    background: linear-gradient(to right, rgb(14, 132, 168), rgb(10, 168, 31));
}
.contentunknown:before{
    background: linear-gradient(to right, rgb(14, 132, 168), rgb(172, 172, 172));
}
.cardname{
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 5px;
    max-width: 300px;
    margin: 10px;
}
.cardinfo{
    max-width: 300px;
    margin: 10px;
    .locationName{
        padding-top: 5px;
        font-size: 1.3em;
    }
}

.cardimg {
    border-radius: $radius $radius 0 0;
    max-width: 300px;
}
.status{
    position: absolute;
    font-size: 20px;
    top: 10px; right: 20px;
    font-size: 18px;
}

.alive{
    font-weight: bold;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: rgb(10, 168, 31);
}

.dead{
    font-weight: bold;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: rgb(209, 11, 11);
}

.unknown{
    font-weight: bold;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: gray;
}