

.tittle-container{
    text-align: center;
}

.primary-tittle{
    font-size: 36px;
}

.primary-tittle-name{
    color: blue;
}

.secondary-tittle{
    font-size: 18px;
    margin-bottom: 0;
}

.characters-tittle{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.primary-box{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.episode-box{
    margin: 5px;
    padding: 5px;
}


@media (max-width: 576px){
    .primary-tittle{
        font-size: 24px;
    }
    .episode-box{
        font-size: 20px;
    }
}