.navMainContainer{
    display: flex;
    .navSubContainer{
        padding: 30px;
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
        display: flex;
        margin: 5px;
        justify-content: space-between;
        .navLink{
            color: black;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            font-size: 20px;
            .navTittle{
                color: blue;
                margin-left: 5px;
            }
        }
        .navButtonsContainer{
            width: 20vw;
            .navButtons{
                display: flex;
                justify-content: space-evenly;
                text-decoration: none;
                
            }
        }
    }
}