


.accordion-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.accordion-buttton{
    margin: 0;
    position: relative;
}


.button-off{
    display: flex;
    transition: .3s;
    background-color: white;
    width: 100%;
    font-size: 20px;
    padding: 17px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}


.button-off:hover{
    transition: .2s;
    cursor: pointer;
    opacity: .8;
    letter-spacing: 1px;
}

.button-on{
    display: flex;
    transition: .3s;
    background-color: #0b9dd7;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    color: white ;
    border: 3px solid hsl(197, 100%, 81%);
    border-radius: 5px;
    letter-spacing: 1px;

}

.button-on:hover{
    cursor: pointer;
    opacity: .8;
}

.accordion-body-off{
    display: none;
}
.accordion-body-on{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrowOff{
    width: 10px;
    height: 10px;
    border-top: 3px solid  #0b9dd7;
    border-right: 3px solid #0b9dd7;
    position: absolute;
    right: 10%;
    bottom: 40%;

}

.arrowOn{
    width: 10px;
    height: 10px;
    border-bottom: 3px solid  white;
    border-right: 3px solid white;
    position: absolute;
    right: 10%;
    bottom: 40%;
}

.inputGroup{
    padding: 5px;
    text-align: start;
    border: 1px solid #0b9dd7 ;
    border-radius: 5px;
}
.formGroup{
    border: none;
    font-size: 21px;
    width: 100%;
    border-radius: 5px;
}
.formGroup:focus{
    outline: none;
    opacity: .9;
}


option:checked{
    background-color: #0b9dd7;
    color: white;
}