.App{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
}
.secondary-tittle{
    text-align: center;
}
.container{
    display: flex;
}

.primary-box{
    display: flex;
    flex-basis: 25vw;
    justify-content: center;
}
.secondary-box{
    display: flex;
    justify-content: flex-start;
    flex-basis: 75vw;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.active{
    color: blue !important;
}