.App{
    display: flex;
    flex-direction: column;
}
.secondary-tittlee{
    text-align: center;
    font-size: 36px ;
}
.container{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
}

.primary-box{
    display: flex;
    flex-basis: 25vw;
    justify-content: center;
}
.secondary-box{
    display: flex;
    justify-content: flex-start;
    flex-basis: 75vw;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.active{
    color: blue !important;
}

@media (max-width: 576px){

    .primary-box{
        margin-right: 10px;
    }
    .container{
        padding: 5px;
    }

    .secondary-tittlee{
        font-size: 2em;
        margin: 10px;
    }
}


@media (max-width: 365px){

    .secondary-tittlee{
        font-size: 1.4em;
    }
    
}